<%= image_tag "53246727eca5f287d30f2ac6c4312b28_w.jpg",  class: "login-image"%>
<div class="main-login">
<div class="message">ログインしてみんなと交友を深めよう!
</div>
  <div class="login-content">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field2">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="login-btn">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
</div>
</div>
<%= render "devise/shared/links" %>
